html { 
  background: url(../images/sea.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetixa Neue', sans-serif;
}

.profile_box{
	width: 400px;
	height:600px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

.prof_pic{
	border: 50%;
	height: 200px;
	width: 200px;
}

h1{
	font-weight: 100;
	letter-spacing: 6;
	font-size: 40px;
}

p{
	font-weight: 200;
	letter-spacing: 1;
}

.social_media{
	font-size: 60px;
	margin: 0 auto;
}

.social_media a {
	color: white;
}

.line_break{
	width: 300px;
	margin: 0 auto;
	border-top: 1px solid white;
}

.new_line{
	width: 300px;
	margin: 0 auto;
	border-top: 1px solid white;
}